@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

*{

    box-sizing: border-box;
}

body{ 
    background-color: var(--Light-grey);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.main-content{
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 20px;
    border-bottom-right-radius: 170px;
    padding: 20px;
}

.box-inputs{
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
    color: var(--Light-grey)
    text-transform uppercase;
}

.input-input{
    display: flex;
    flex-direction: column;
}

.input-input label{
    letter-spacing: 0.2rem;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;

}

.input-input input{
    width: 140px;
    padding: 10px;
    padding-left: 20px;
    font-size: 32px;
    border-radius: 8px;
    font-weight: 700;
    border: 1px solid var(--Light-grey);
    color: var(--Off-black);
}

.input-input input:focus{
    border: 1px solid var(--Purple);
    outline: none;
}

.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    width: 100%;
    border-bottom: 1px solid var(--Light-grey);
}
button{
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: var(--Purple);
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    background-color: var(--Off-black);
}
.result{
    font-size: 80px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: -20px;
    color: var(--Off-black)
}
span{
    color: var(--Purple);
}

.attribution{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (max-width: 600px){
    .main-content{
        width: 350px;
        height: 430px;
        padding: 30px;
        border-bottom-right-radius: 100px;
    }
    .box-inputs{
        width: 100%;
    }
    .single-input input{
        width: 90px;
        font-size: 20px;
        padding: 15px;
    }
    .error{
        width: 90px;
    }
    .button-content{
        margin-top: 20px;
    }
    button img{
        width: 25px;
    }
    .line-sec{
        border: 1px solid hsl(0, 0%, 86%);
        width: 100%;
    }
    .result-view{
        font-size: 50px;
    }
    
}

